@layer theme, base, utililty;

@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Noto+Sans+JP:wght@100..900&family=Noto+Sans+SC:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif+JP:wght@200..900&family=Noto+Serif+SC:wght@200..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import "tailwindcss";
@import "@nuxt/ui";
@import "./theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@custom-variant xs {
  @media (min-width: 32rem) {
    @slot;
  }
}

@layer base {
  .dark {
    --ui-text: var(--ui-color-neutral-300);
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
  }

  a {
    text-decoration: none;
  }

  body {
    margin: 0 auto;
    @apply font-sans;
  }

  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }

  h3 {
    @apply text-lg;
  }

  h4 {
    @apply text-base;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  code {
    @apply font-mono;
    font-size: 0.9em;
  }

  ul {
    @apply list-disc;
  }

  ol {
    @apply list-decimal;
  }

  li {
    @apply ml-4;
  }

  table {
    @apply table-auto;
  }

  blockquote {
    @apply border-l-4;
    @apply border-gray-300;
    @apply pl-4;
    @apply italic;
    @apply text-gray-700;
  }

  :not(pre) > code {
    padding: 0.2em 0.35em;
    margin: 0 2px;
    border-radius: 3px;
    background-color: var(--ui-bg-muted);
  }

  .katex-html {
    display: none;
  }

  .myscroll::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    border-radius: 5px;
    background-color: var(--ui-bg-elevated);
  }

  .myscroll::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--ui-bg-accented);
  }

  a.link {
    margin: 0 4px;
    color: var(--color-primary-500);
    text-decoration: none;
    transition: 0.5s color;
  }

  a.link:hover {
    color: var(--color-primary-700);
  }

  .spoiler {
    position: relative;
    background-color: rgba(200, 200, 200, 0.3);
    color: rgba(0, 0, 0, 0.5);
    user-select: none;
    overflow: hidden;
    cursor: pointer;
    filter: blur(3px);
    transition: filter 0.3s ease;
  }

  .spoiler:hover {
    background-color: inherit;
    color: inherit;
    filter: blur(0);
  }

  .fade-enter-from,
  .fade-leave-to {
    opacity: 0;
  }

  .fade-enter-to,
  .fade-leave-from {
    opacity: 1;
  }

  .fade-enter-active,
  .fade-leave-active {
    transition: opacity 0.5s;
  }

  .fade-in-1\/4-enter-from,
  .fade-in-1\/4-leave-to {
    opacity: 0;
  }

  .fade-in-1\/4-enter-to,
  .fade-in-1\/4-leave-from {
    opacity: 1;
  }

  .fade-in-1\/4-enter-active {
    transition: opacity 0.25s;
  }

  .fade-out-1\/4-enter-from,
  .fade-out-1\/4-leave-to {
    opacity: 0;
  }

  .fade-out-1\/4-enter-to,
  .fade-out-1\/4-leave-from {
    opacity: 1;
  }

  .fade-out-1\/4-leave-active {
    transition: opacity 0.25s;
  }
}
